lenet_int8_payload.bin
lenet_int8_payload.json
lenet_int8_bemu-linux
lenet_int8_eval_payload.bin
lenet_int8_eval_payload.json
lenet_int8_bemu_eval-linux
lenet_int8_channel_eval_payload.bin
lenet_int8_channel_eval_payload.json
lenet_int8_channel_bemu_eval-linux
